# **Data types and structures questions**

Ans1:- Data structures bring together the data elements in a logical way and facilitate the effective use, persistence and sharing of data they provide a formal model that describes the way the data elements are organized data structures are the building blocks for more sophisticated applications.

Ans2:- Mutable Data Type – A mutable data type is one whose values can be changed.
Example: List, Dictionaries, and Set

Immutable Data Type – An immutable data type is one in which the values can’t be changed or altered.
Example: String and Tuples

Ans3:- The key difference between tuples and lists is that while tuples are immutable objects, lists are mutable this means tuples cannot be changed while lists can be modified. Tuples are also more memory efficient than the lists.

Ans4:- ictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates. As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

Ans5:- Membership tests check whether a specific element is contained in a sequence, such as strings, lists, tuples, or sets one of the main advantages of using sets in Python is that they are highly optimized for membership tests. For example, sets do membership tests a lot more efficiently than lists.

Ans6:- A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc)

Ans7:- Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability this immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed.

Ans8:- A hash table is a data structure that allows you to store a collection of key-value pairs. In a hash table, the key of every key-value pair must be hashable, because the pairs stored are indexed by using the hash of their keys.

Ans9:- In a list, you can store objects of any type. You can also mix objects of different types within the same list, although list elements often share the same type. Note: Throughout this tutorial, you'll use the terms items, elements, and values interchangeably to refer to the objects stored in a list.

Ans10:- Python strings are "immutable" which means they cannot be changed after they are created (Java strings also use this immutable style) since strings can't be changed, we construct *new* strings as we go to represent computed values.

Ans11:- Python has a list, which is a mutable data structure with an ordered list of elements. A list's elements are any items or values that are contained within it.

The definition of a list is a set of values enclosed in square brackets ([]) and separated by commas.

The data collected is stored as key-value pairs in the dictionary, a standard Python data structure. The word "dictionary" is enclosed in curly brackets (), spaced by commas.

Due to the above difference between lists and dictionaries getting the elements from the list data structure is more complex when compared to dictionaries.
So it is more efficient to use dictionaries for the searching of elements as it can be carried out in a much faster manner.

Lists are used when it is important to maintain the order of the elements and dealing with data that may get changed in the future.

Ans12:- Use a tuple if you need an immutable collection where the elements won't change after creation. Tuples are generally faster and more memory-efficient than lists, making them better for fixed collections, especially as dictionary keys or when iteration speed is crucial.

Ans13:- Items of a set in python are immutable (unchangeable), do not duplicate values, and unordered. Thus, items in a set do not appear in a stipulated manner, i.e., they can appear in a different order every time it is used. Due to this, set items cannot be referred to by key or index.

Ans14:- List in python- Lists are used to create Dynamic Array in Python just like ArrayList in Java and Vectors i C++. Dynamic Array is a Data Structure whose size can be increased or decreased dynamically after it has been declared during runtime because of which programmers are not required to specify the length of the array. Lists are heterogenous and can contain different types of data such as Integers, Strings, Lists, as well as inbuilt or user-defined Objects. Lists are mutable, which means that if we modify the list, then any other variable referencing to this list also gets modified.

Dictonary in python-Python Dictionary on the other hand is used to create Hash Map which is a Data Structure used to store key and their respective values. Like a literal English dictionary which contains words and their meanings, Python Dictionaries are similar to them where the key must be of an immutable data type such as Integer, Float, Tuple, Boolean, String. The value of a particular key can be of any data type and allows mutable datatypes such as Dictionary and Lists. The Key is hashed to generate an index where the value will be stored such that we can have constant time access to the value by just knowing the key. Each Key-Value pairs are separated using comma (,) and the value for a particular key is separated by semicolon (:).

Ans15:- In Python, tuples are immutable, meaning that once they are created, their elements cannot be changed, added, or removed. This immutability distinguishes tuples from lists, which are mutable.

Ans16:- In Python, a nested dictionary is a dictionary inside a dictionary. It's a collection of dictionaries into one single dictionary. Here, the nested_dict is a nested dictionary with the dictionary dictA and dictB . They are two dictionary each having own key and value.

Ans17:- Similar to the insertion operation, dictionary lookups in Python also have an average time complexity of O(1). This means that, on average, the time taken to retrieve an element from a dictionary is constant and does not depend on the size of the dictionary.

Ans18:- Key Differences Between List and Dictionary in Python. A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

Ans19:- Python dictionaries were unordered but after Python 3.7 version Dictionaries are ordered. It preserves the order of insertion, i.e., while creating a dictionary with key-value pairs, each key-value pair will be inserted in the order it has been defined one after another. But previously, the elements of the dictionary were inserted in alphabetical order.

Ans20:- A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

# **Practical Questions**

In [1]:
my_name = "Ridhima"
print("My name is:", my_name)

My name is: Ridhima

In [2]:
my_string = "Hello World"
length = len(my_string)
print("The length of the string is:", length)

The length of the string is: 11

In [3]:
my_string = "Python Programming"
sliced_string = my_string[:3]
print("The first 3 characters are:", sliced_string)

The first 3 characters are: Pyt

In [4]:
my_string = "hello"
uppercase_string = my_string.upper()
print("Uppercase string:", uppercase_string)

Uppercase string: HELLO

In [5]:
my_string = "I like apple"
modified_string = my_string.replace("apple", "orange")
print("Modified string:", modified_string)

Modified string: I like orange

In [6]:
numbers = [1, 2, 3, 4, 5]
print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

In [7]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

In [8]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

In [9]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print("The second element is:", second_element)

The second element is: b

In [10]:
numbers = [10, 20, 30, 40, 50]
reversed_list = numbers[::-1]
print("Reversed list:", reversed_list)

Reversed list: [50, 40, 30, 20, 10]

In [11]:
my_tuple = (10, 20, 30)
print("Tuple:", my_tuple)

Tuple: (10, 20, 30)

In [12]:
my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print("First element:", first_element)

First element: apple

In [13]:
my_tuple = (1, 2, 3, 2, 4, 2)
count_of_two = my_tuple.count(2)
print("Number 2 appears", count_of_two, "times.")

Number 2 appears 3 times.

In [14]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print("The index of 'cat' is:", index_of_cat)

The index of 'cat' is: 1

In [15]:
my_tuple = ('apple', 'orange', 'banana')
if 'banana' in my_tuple:
    print("Yes, 'banana' is in the tuple.")
else:
    print("No, 'banana' is not in the tuple.")

Yes, 'banana' is in the tuple.

In [16]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [17]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

In [20]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [21]:
my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)

apple

In [22]:
my_tuple = (1, 2, 3, 2, 4, 2)
count_of_two = my_tuple.count(2)
print(count_of_two)

3

In [23]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

In [24]:
my_tuple = ('apple', 'orange', 'banana')
if 'banana' in my_tuple:
    print("Yes, 'banana' is in the tuple.")
else:
    print("No, 'banana' is not in the tuple.")

Yes, 'banana' is in the tuple.

In [25]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [26]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}